# Environment data
venv/
.env

# IDE directories
.ipynb_checkpoints
.ropeproject
.idea
.spyproject
.vscode

# Compiled python modules
__pycache__

# Temp data
junk*
old/
temp/

# Data files
data/
runs/
output/

# misc
.~lock*
papers/
old_allometry/
junk*
